<header class="bg-white shadow p-4 flex justify-between items-center">
  <div class="flex items-center space-x-4">
    <a href="/" class="text-blue-700 font-bold text-xl">URL Shortener</a>
    <a href="/dashboard" class="text-blue-600 hover:underline">Dashboard</a>
  </div>
  <div id="user-info" class="text-right">
    <% if (user) { %>
      Welcome, <span class='font-bold'><%= user.username %></span> |
      <a href='/logout' class='text-red-600 hover:underline'>Logout</a>
    <% } else { %>
      <a href='/login' class='text-blue-600 hover:underline'>Login</a>
    <% } %>
  </div>
</header>
